.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/assets/img/icons/header.svg);


}

.header .profileImage {
    width: 200px;
    height: 200px;
    border-radius: 25% 12.5%;
    animation: flash;
    animation-duration: 2s;

}

.header .title {
    text-align: center;
    font-family:'Courier New', Courier, monospace

}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

}

.info p {
    margin: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.125rem;

}

.info p::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

.info .job::before {
    background-image: url(/assets/img/icons/job.svg);
}

.info .location::before {
    background-image: url(/assets/img/icons/location.svg);
}

.info .mail::before {
    background-image: url(/assets/img/icons/mail.svg);
}

.info .phone::before {
    background-image: url(/assets/img/icons/phone.svg);
}



@media only screen and (min-width: 768px) {
    .header {
        flex-direction: row;
        grid-template-areas:
        "profileImage title"
        "profileImage info"
        ;

    }
    
    .header .profileImage {
        grid-area: profileImage;
        width: 300px;
        height: 300px;
        border-radius: 2rem 0.1px;
        margin: 0 auto;
        animation: flash;
        animation-duration: 2s;
    }

    .header .title {
        grid-area: title;
        text-align: start;
        padding: 2rem;
        max-width: 200px;
    }

    .header .info {
        grid-area: info;
    }

    .main {
        max-width: 1024px;
        margin: 0 auto;
        
    }

}